body {
    background-image: url(../img/connectwork.png);
  }
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(118, 120, 252, 0.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }