
{% extends 'base.html' %}
{% block title %}Listado de Registros - UNDEFI P306{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item">Listado</li>
{% endblock %}
{% block content %}
        <div class="mb-4">
            <a href="{% url 'nuevo_registro' %}" class="btn btn-primary">Nuevo Registro</a>
        </div>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Contenido</th>
                    <th>Hojas</th>
                    <th>Fecha Creación</th>
                    <th>Autor</th>
                    <th>Ruta</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td class = "align-middle"><a href="{% url 'detalle_registro' pk=registro.pk %}">{{registro.contenido}}</a></td>
                    <td class = "align-middle">{{registro.cant_hojas}}</td>
                    <td class = "align-middle">{{registro.fecha_creacion}}</td>
                    <td class = "align-middle">{{registro.autor}}</td>
                    <td class = "align-middle"><a href="{{registro.archivo}}">{{registro.archivo}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </div>

{% endblock %}
