{% extends 'base.html' %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Listado</a></li>
  <li class="breadcrumb-item active">{{ registros.contenido }}</li>
{% endblock %}
{% block title %}{{ registros.contenido }}{% endblock %}
{% block content %}
<div>
    <h2 align="center">{{registros.contenido}}</h2>
    <p>Año: {{registros.anio}}</p>
    <p>Cant Hojas: {{registros.cant_hojas}}</p>
    <p>Fecha de carga: {{registros.fecha_creacion}}</p>
    <p>Realizado por: {{registros.autor}}</p>
    <p><a href="{{registros.archivo}}">{{registros.archivo}}</a></p>
</div>
{% endblock %}